# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Directories
Projects/Programming/C#/Unity/CEF_Unity/Library/
Projects/Programming/C#/Unity/CEF_Unity/obj/
Projects/Programming/C#/Unity/CEF_Unity/Temp/
