/* Fonts */

@font-face
{
	font-family: inconsolata;
	src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face
{
	font-family: inconsolata-bold;
	src: url(../fonts/Inconsolata-Bold.ttf);
	font-weight: bold;
}

/* ----------------------- */

/* HTML Tags */

/* Reset */
html, body { height: 100%; margin: 0; padding: 0; }

html
{
	background-color: #000;
	color: #fff;
	
	font-family: inconsolata;
}

span[name="accentColor"]
{
	margin: 0;
	padding: 0;
	color: #e7cb81;
}

/* Header */

body header
{
	position: fixed;
	width: 100%;
	padding-bottom: 1em;
	
	background-color: #000;
}

/* ----------------------- */

/* Footer */

body footer
{
	position: fixed;
	bottom: 0px;
    left: 0px;
    right: 0px;
	padding: .5em 0;
	
	text-align: center;
	font-size: .75em;
	background-color: #000;
}

/* ----------------------- */

/* Custom Classes */

/* Page Container */

.pageContainer
{
	display: table;
	width: 100%;
	height: 100%;
}

/* ----------------------- */

/* Page Title */

.pageTitle
{
	float: left;
	margin: 1.3em 0 0 2em;
	
	text-align: center;
}

.pageTitle span
{
    float: right;
    padding-right: 3.5em;
}

.pageTitle h1
{
	margin: 0;
}

.pageTitle a:link, .pageTitle a:visited
{
	color: #fff;
	text-decoration: none;
}

/* ----------------------- */

/* Nav Bar */

.navBar
{
	float: right;
	margin: 2em 2em 0 0;
}

.navBar ul
{
	margin: 0;
	padding: 0;
	
	list-style-type: none;
	overflow: hidden;
}

@media screen and (max-width: 440px)
{
	.navBar ul
	{
		margin-left: 10em;
	}
}

.navBar li, .navBar ul > span
{
	float: left;
	padding-left: 1em;
	
	color: #e7cb81;
}

.navBar a:link, .navBar a:visited
{
	display: block;
	
	color: #fff;
	
	text-align: center;
	text-decoration: none;
}

.navBar a:hover, .navBar a:active
{
	background-color: #555;
}

/* ----------------------- */

/* Main Content */

.mainContent
{
	display: table-row;
	height: 100%;
}

.mainContent
{
	padding-bottom: 5em;
}

/* ----------------------- */

/* Main Content Body */

.mainContentBody
{
	display: table-cell;
}

.mainContentBody
{
	padding: 6em 2em 1em 2em;
}

@media screen and (max-width: 1000px)
{
	.mainContentBody
	{
		padding-top: 8em;
	}
}

@media screen and (max-width: 559px)
{
	.mainContentBody
	{
		padding-top: 10em;
	}
}

@media screen and (max-width: 440px)
{
	.mainContentBody
	{
		padding-top: 12em;
	}
}

/* ----------------------- */
